/*#sobre-mi{
    border-style:groove;
    border-radius: 5rem;
    margin-top: 1rem;
}*/
.row{
    padding: 20px;
    --bs-gutter-x: 1.5rem;
    margin-right: calc(-.5 * var(--bs-gutter-x));
}
div{
    background-color: rgb(176, 250, 255);
    text-align: center;
}

/*foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(14, 163, 138);
        left: 3%;
        top: 600px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(14, 163, 138);
        left: 33%;
        top: 630px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
