<section id="Educación"class="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-3"><h4>Educación</h4>
        <img [src]="'/assets/img/logo ijme.jpg'" alt="logo ijme" width="30%" height="">
        <br>
        <br>
        <br>
        <br>
        <img [src]="'/assets/img/arg.prog logo.png'" alt="logo argentina programa" width="30%" height="">
        </div>
        <div class="col-9">
          <h5 class="center" *ngFor="let educacion of educaciones">
            <br>
            <p>{{educacion.institucion}}</p>
            <p>{{educacion.titulo}}</p>
          <p>{{educacion.nivel}}</p>
          <p><time>{{educacion.periodo}}</time></p></h5>
        </div>
      </div>
    </div>
  </section>
