section{
    background-color: rgb(176, 250, 255);
}

/*section.about{
    margin-top: 1rem;
    border-style: groove;
    border-radius: 5rem;
}*/
.row{
    padding: 20px;
}
h1,h3{
    display: inline;
}