<section id="educación"class="about">
      <div class="row" >
        <h1>Educacion</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11"*ngFor="let educacion of educaciones">
          <ul>
            <li>
              <h1>{{educacion.institucion}}</h1> - <h3>{{educacion.periodo_edu}}</h3>
            </li>
            <p>{{educacion.nivel}}</p>
            <img [src]="'/assets/img/logo ijme.jpg'" alt="logo ijme" width="10%" height="">
          </ul>
          <img [src]="'/assets/img/arg.prog logo.png'" alt="logo argentina programa" width="10%" height="">
        </div>
      </div>
  </section>
