<section id="Habilidades"class="about">
    <div class="container">
      <div class="row">
        <p><h4>Hard & Soft Skills</h4>
        <div class="habilidades mb-3" *ngFor="let progreso of progresos">
          <div class="barra">
            <!--Interación sobre la variable de instancia y presentacion de datos mediante interpolacion-->
            <div class="progreso" [style.--w.%]="progreso.porcentaje">{{progreso.porcentaje}}% {{progreso.nombre}}</div>
          </div>
        </div>
        <div class="col-sm-1">
          <div ><ul class="list-group list-group-horizontal">
            <!-- Button trigger modal -->
            <li class="list-group-item">
                <i class="fa-solid fa-pencil"type="button"data-bs-toggle="modal" data-bs-target="#Modalhabilidades">
                </i>
                <div class="modal fade" id="Modalhabilidades" tabindex="-1" aria-labelledby="Modalhabilidades" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="row modal-header">
                        <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Hard & Soft Skills</label>
                          <input class="form-control" type="text" id="formFileMultiple" multiple>
                          <label for="formFileMultiple" class="form-label">porcentaje</label>
                          <input class="form-control" type="text" id="formFileMultiple" multiple>
                        </div>
                        <div class="mb-3">
                          <button type="button" class="btn btn-primary">Guardar</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                        </div>
                      </div>  
                    </div>
                  </div>    
                </div>
            </li>
            <li class="list-group-item"><i class="fa-solid fa-x"></i></li>
          </ul>
        </div>
         </div>
      </div>
    </div>
  </section>
