<section id="Habilidades"class="about">
    <div class="container">
      <div class="row">
        <p><h4>Hard & Soft Skills</h4>
        <div class="habilidades mb-3" *ngFor="let progreso of progresos">
          <div class="barra">
            <!--Interación sobre la variable de instancia y presentacion de datos mediante interpolacion-->
            <div class="progreso" [style.--w.%]="progreso.porcentaje">{{progreso.porcentaje}}% {{progreso.nombre}}</div>
          </div>
        </div>
        <div class="col-sm-1">
            <br>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
                <li class="list-group-item"><i class="fa-solid fa-x"></i></li>
             </ul>
         </div>
      </div>
    </div>
  </section>
