section.about{
    margin-top: 1rem;
    border-style: groove;
    border-radius: 5rem;
}
.list-group{
    --bs-list-group-bg: transparet;
    }
i.fa-solid.fa-x:hover,
i.fa-solid.fa-pencil:hover{
    color:rgb(13, 14, 14)
}