<section id="proyectos"class="about" >
    <div class="container text">
      <div class="row">
        <p><h4>Proyectos</h4>
          <h5>{{titulo}}</h5>
            <h5><time>{{realizacion}}</time></h5>
            <h5>{{Descripcion}}</h5>
         <link href="">
         <div class="col-sm-1">
            <br>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><i class="fa-solid fa-pencil"></i></li>
                <li class="list-group-item"><i class="fa-solid fa-x"></i></li>
             </ul>
         </div>
      </div>
    </div>      
  </section>
