section.about{
    margin-top: 1rem;
    border-style: groove;
    border-radius: 5rem;
}
#proyectos{
    background-color: rgb(47, 132, 230);
}
.list-group{
    --bs-list-group-bg: transparet;
    }
    i.fa-solid.fa-x:hover,
    i.fa-solid.fa-pencil:hover{
        color:rgb(4, 236, 236)
    }    