<section id="proyectos">
      <div class="row">
        <h1>Proyectos</h1>
        <div class="contenedor">
          <div>
          <div class="col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7" *ngFor="let proyecto of proyectos">
          <p>{{proyecto.titulo_proy}}</p>
          <p>{{proyecto.realizacion}}</p>
          <p>{{proyecto.descripcion_proy}}</p>
          <link href="https://frontend-1eeaa.web.app">
        </div>
            </div>
          </div>
          </div>      
        </section>

         <div class="col-sm-1">
          <div><ul class="list-group list-group-horizontal">
            <!-- Button trigger modal -->
            <li class="list-group-item">
                <i class="fa-solid fa-pencil"type="button"data-bs-toggle="modal" data-bs-target="#Modalproyectos">
                </i>
                <div class="modal fade" id="Modalproyectos" tabindex="-1" aria-labelledby="#Modalproyectos" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="row modal-header">
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">titulo</label>
                        <input class="form-control" type="text" id="formFileMultiple" multiple>
                        <label for="formFileMultiple" class="form-label">realizacion</label>
                        <input class="form-control" type="text" id="formFileMultiple" multiple>
                        <label for="formFileMultiple" class="form-label">descripcion</label>
                        <input class="form-control" type="text" id="formFileMultiple" multiple>
                        <button type="button" class="btn btn-primary">Guardar</button>
                      </div>
                      <div class="mb-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
            <li class="list-group-item"><i class="fa-solid fa-x"></i></li>
          </ul>
        </div>
         </div>

