i.fa-solid.fa-x:hover,
i.fa-solid.fa-pencil:hover{
    color:rgb(4, 236, 236)
}
.list-group{
    --bs-list-group-bg: transparet;
}
#sobre-mi{
    border-style:groove;
    border-radius: 5rem;
    margin-top: 1rem;
}