i.fa-solid.fa-x:hover,
i.fa-solid.fa-pencil:hover{
    color:rgb(16, 17, 17)
}
.list-group{
    --bs-list-group-bg: transparet;
}
#sobre-mi{
    border-style:groove;
    border-radius: 5rem;
    margin-top: 1rem;
}

h5, .form-label, ul{
    color: black;
    }