i.fa-solid.fa-x:hover,
i.fa-solid.fa-pencil:hover{
    color:rgb(4, 236, 236)
}
.list-group{
    --bs-list-group-bg: transparet;
}
#experiencia{
    background-color: rgb(109, 174, 248);
}
section.about{
    margin-top: 1rem;
    border-style: groove;
    border-radius: 5rem;
}