<!--MODAL-->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">  
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="mb-3 row">
            <label for="email" class="col-sm-4 col-form-label">
                <i class="fa-solid fa-envelope"></i>Email: 
            </label>
            <div class="mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="email@dominio.com">
                
                <!-- Se verifica si cumple con el formato de email -->
                <div *ngIf="Email?.errors && Email?.touched">
                    <p *ngIf="Email?.hasError('required')">
                        El email es requerido.
                    </p>
                    <p *ngIf="Email?.hasError('email')">
                        El formato del email debe ser válido.
                    </p>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="Clave" class="col-sm-4 col-form-label"><i class="fa-solid fa-lock"></i>Clave:</label>
            <div class="mb-3">
                <input type="clave" class="form-control" formControlName="clave" placeholder="****">

                <!-- Se verifica si cumple con el formato de password -->
                <div *ngIf="clave?.errors && clave?.touched">
                    <p *ngIf="clave?.hasError('required')">
                        La clave es requerida.
                    </p>
                    <p *ngIf="clave?.errors?.['minlength']">
                        La clave debe ser de 4 o más caracteres.
                    </p>
                </div>
            </div>
        </div>
        <div class="elemento text-center">
            <button type="submit" class="btn btn-primary m-2" data-bs-toggle="modal" href="/src/app/dashboard/dashboard.component.html">Iniciar Sesión</button>
            <button type="button" (click)="limpiar()" class="btn btn-secondary m-2">Restaurar</button>
        </div>  
    </form>
    </div>
  </div>
</div>
