<app-nabvardashboard></app-nabvardashboard>
<main>
  <section id="panel" class="panel">
    <div class="container text-center">
<!--1° fila-->
            <div class="row mt-3 g-2 g-lg-3">
              <!--banner-->
              <div class="col">
                <div>
                  <ul class="list-group list-group-horizontal">
                    <!-- Button trigger modal -->
                    <li class="list-group-item">
                      <i class="fa-solid fa-image fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalimg"></i>
                      <div class="modal fade" id="Modalimg" tabindex="-1" aria-labelledby="Modalimg" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <label for="formFileMultiple" class="form-label">Foto banner</label>
                              <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>
                              <div class="modal-footer">
                              <button type="button" class="btn btn-success">Guardar</button>
                              <button type="button" class="btn btn-danger">eliminar</button>
                              <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
    
              <!--redes-->
              <div class="col">
                <div>
                  <ul class="list-group list-group-horizontal">
                    <!-- Button trigger modal -->
                    <li class="list-group-item">
                      <i class="fa-solid fa-users-line fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalred"></i>
                      <div class="modal fade" id="Modalred" tabindex="-1" aria-labelledby="Modalred" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="row modal-header">
                              <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Redes</label>
                                <input class="form-control" type="text" id="formFileMultiple" multiple>
                              </div>
                              <div class="modal-footer">
                              <button type="button" class="btn btn-success">Guardar</button>
                              <button type="button" class="btn btn-danger">eliminar</button>
                              <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
    
              <!--foto perfil-->
              <div class="col">
                <div>
                  <ul class="list-group list-group-horizontal">
                    <!-- Button trigger modal -->
                    <li class="list-group-item">
                      <i class="fa-solid fa-user-tie fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modaldt"></i>
                      <div class="modal fade" id="Modaldt" tabindex="-1" aria-labelledby="Modaldt" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="row modal-header">
                              <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Foto de perfil</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                              </div>
                              <div class="modal-footer">
                              <button type="button" class="btn btn-success">Guardar</button>
                              <button type="button" class="btn btn-danger">eliminar</button>
                              <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                              </div>
                              </div>
                            </div>  
                          </div>
                        </div>    
                    </li>
                  </ul>
                </div>
              </div>
            </div>
<!--2° fila-->    
            <div class="row mt-3 g-2 g-lg-3">
              <!--sobre mi-->  
              <div class="col">
                <div>
                  <ul class="list-group list-group-horizontal">
                  <!-- Button trigger modal -->
                  <li class="list-group-item">
                    <i class="fa-solid fa-pen fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalmi"></i>
                    <div class="modal fade" id="Modalmi" tabindex="-1" aria-labelledby="Modalmi" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="row modal-header">
                            <div class="mb-3">
                              <label for="formFileMultiple" class="form-label">Sobre mi</label>
                              <input class="form-control" type="text" id="formFileMultiple" multiple>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success">Guardar</button>
                              <button type="button" class="btn btn-danger">eliminar</button>
                              <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                            </div>
                          </div>  
                        </div>
                      </div>    
                    </div>
                  </li>
                  </ul>
              </div>
            </div>

   <!--presentación-->
   <div class="col">
    <div>
      <ul class="list-group list-group-horizontal">
      <!-- Button trigger modal -->
      <li class="list-group-item">
        <i class="fa-solid fa-user-tie fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalpresentacion"></i>
        <div class="modal fade" id="Modalpresentacion" tabindex="-1" aria-labelledby="Modalpresentacion" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="row modal-header">
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Nombre y Apellido</label>
                  <input class="form-control" type="text" id="formFileMultiple" multiple>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">Guardar</button>
                  <button type="button" class="btn btn-danger">eliminar</button>
                  <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                </div>
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">titulo</label>
                  <input class="form-control" type="text" id="formFileMultiple" multiple>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">Guardar</button>
                  <button type="button" class="btn btn-danger">eliminar</button>
                  <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                </div>
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Ciudad</label>
                  <input class="form-control" type="text" id="formFileMultiple" multiple>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success">Guardar</button>
                  <button type="button" class="btn btn-danger">eliminar</button>
                  <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                </div>
             </div>
            </div>  
          </div>
        </div>
      </li>
      </ul>
    </div>
  </div>
<!--experiencia-->
                <div class="col">
                  <div>
                    <ul class="list-group list-group-horizontal">
                    <!-- Button trigger modal -->
                    <li class="list-group-item">
                      <i class="fa-solid fa-briefcase fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalexp"></i>
                      <div class="modal fade" id="Modalexp" tabindex="-1" aria-labelledby="Modalexp" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="row modal-header">
                              <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Experiencia</label>
                                <input class="form-control" type="text" id="formFileMultiple" multiple>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-danger">eliminar</button>
                                <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                              </div>
                            </div>  
                          </div>
                        </div>    
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
<!--3° fila-->    
            
            <div class="row mt-3 g-2 g-lg-3">
                            <!--educacion-->
                            <div class="col">
                              <div>
                                <ul class="list-group list-group-horizontal">
                                <!-- Button trigger modal -->
                                <li class="list-group-item">
                                  <i class="fa-solid fa-graduation-cap fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modaledu"></i>
                                  <div class="modal fade" id="Modaledu" tabindex="-1" aria-labelledby="Modaledu" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="row modal-header">
                                          <div class="mb-3">
                                            <label for="formFileMultiple" class="form-label">Educacion</label>
                                            <input class="form-control" type="text" id="formFileMultiple" multiple>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-success">Guardar</button>
                                            <button type="button" class="btn btn-danger">eliminar</button>
                                            <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                                          </div>
                                        </div>  
                                      </div>
                                    </div>    
                                  </div>
                                </li>
                                </ul>
                              </div>
                            </div>
                  
                            <!--habilidades-->
                            <div class="col">
                              <div>
                                <ul class="list-group list-group-horizontal">
                                  <!-- Button trigger modal -->
                                  <li class="list-group-item">
                                    <i class="fa-solid fa-laptop fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalhabilidades"></i>
                                    <div class="modal fade" id="Modalhabilidades" tabindex="-1" aria-labelledby="Modalhabilidades" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="row modal-header">
                                            <div class="mb-3">
                                              <label for="formFileMultiple" class="form-label">Hard & Soft Skills</label>
                                              <input class="form-control" type="text" id="formFileMultiple" multiple>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-success">Guardar</button>
                                              <button type="button" class="btn btn-danger">eliminar</button>
                                              <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                                            </div>
                                          </div>  
                                        </div>
                                      </div>    
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
            
    
            <!--Proyectos-->
            <div class="col">
              <div>
                <ul class="list-group list-group-horizontal">
                <!-- Button trigger modal -->
                <li class="list-group-item">
                  <i class="fa-solid fa-folder fa-2xl btn-lg p-5"type="button"data-bs-toggle="modal" data-bs-target="#Modalproyec"></i>
                  <div class="modal fade" id="Modalproyec" tabindex="-1" aria-labelledby="Modalproyec" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="row modal-header">
                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Proyectos</label>
                            <input class="form-control" type="text" id="formFileMultiple" multiple>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-success">Guardar</button>
                            <button type="button" class="btn btn-danger">eliminar</button>
                            <button type="button" class="btn btn-info"data-bs-dismiss="modal">cancelar</button>
                          </div>
                        </div>  
                      </div>
                    </div>    
                  </div>
                </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
  </section>
</main> 
