<app-nabvardashboard></app-nabvardashboard>
<main>
  <!-- banner-->
 <section class="banner">
      <div><ul class="list-group list-group-horizontal">
          <!-- Button trigger modal -->
          <li class="list-group-item">
              <i class="fa-solid fa-pencil"type="button"data-bs-toggle="modal" data-bs-target="#Modalbanner">
              </i>
              <div class="modal fade" id="Modalbanner" tabindex="-1" aria-labelledby="#Modalbanner" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <label for="formFileMultiple" class="form-label">Foto</label>
                      <input class="form-control" type="file" id="formFileMultiple" multiple>
                      <button type="button" class="btn btn-primary">Guardar</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
          </li>
          <li class="list-group-item"><i class="fa-solid fa-x"></i></li>
        </ul>
      </div>
 </section>

<!--Presentación-->
<app-dashboardpresentacion></app-dashboardpresentacion>
<!--experiencia-->
<app-dashboardexperiencia></app-dashboardexperiencia>
<!--Educación-->
<app-dashboardeducacion></app-dashboardeducacion>
<!--Habilidades-->
<app-dashboardhabilidades></app-dashboardhabilidades>
<!--Proyectos-->
<app-dashboardproyectos></app-dashboardproyectos>
</main>