/* You can add global styles to this file, and also import other style files */
section.banner{
    background-image: url(./assets/img/nocturno.png);
    height:100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -msn-background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5rem;
}